<div class="signal" data-signal data-chapter="hero" aria-hidden="true">
  <div class="signal__reach"></div>
  <div class="signal__pulse"></div>
  <div class="signal__pulse signal__pulse--delay"></div>
  <span class="signal__cross signal__cross--v"></span>
  <span class="signal__cross signal__cross--h"></span>
  <span class="signal__point"></span>
</div>
